
<div class="timeline">
			  		
		  			 <div class="timeline-item">
		  			 	<div class="timeline-item-date"><%= school.date %></div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_minus" ><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title"><%= school.student %> @ <%= school.college %></h3>
							<div class="collapse in" id="<%= school.id %>">
								<p><small class="muted">Class of <%= school.date %></small></p>
								<h4 class="media-heading primary-color"><%= school.major %></h4>
								<p><%= school.student %></p>	
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					 
					 
			  	</div><!--/timeline --> 
